<%- include("partials/header"); -%>

<h2 class="center">Do you love to take photos?</h2>
<h3 class="center">Why don't you take it to the next step?</h3>
<p class="center app-goal">Art Shop is here to help you sell your masterpieces online easily!</p>


<div class="container">

  <div class="row">
    <div class="col-lg-4 feature-col">
      <h3 class="center small-heading"><i class="icon fas fa-user-circle fa-3x"></i><br>Create an account.</h3>
    </div>
    <div class="col-lg-4 feature-col">
      <h3 class="center small-heading"><i class="icon fas fa-images fa-3x"></i><br>Upload your photos.</h3>
    </div>
    <div class="col-lg-4 feature-col">
      <h3 class="center small-heading"><i class="icon fas fa-hand-holding-usd fa-3x"></i><br>Set your price.</h3>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>
