<%- include("partials/header"); -%>

<div class="container">
  <div class="row justify-content-md-center contact-row">
    <div class="col-sm-4">
      <img class="contact-img" src="images/message.png" alt="message">
      <p class="contact-title">Get in Touch...</p>
    </div>

    <div class="col-sm-4">
      <form class="col" action="/email" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="subjetc" class="form-label">Subject</label>
          <input class="form-control" name="subject" id="subject" placeholder="Subject">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" name="message" id="message" rows="3"></textarea>
        </div>

        <input type="submit" value="Send" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
